<!-- @@master = ../master.html {"title": "登录"} -->

<!-- @@block body -->
<p>为方便送水小哥联系你，请验证手机号码</p>
<form class="ui-form">
	<ul class="ui-list-group">
		<li>
			<input type="text" class="ui-form-ctrl" placeholder="手机号码" style="width:75%;">
			<a href="javascript:;" class="pull-right ui-btn ui-btn-xs">获取验证码</a>
		</li>
		<li>
			<input type="text" class="ui-form-ctrl ui-form-ctrl-block" placeholder="验证码" autocapitalize="off" autocorrect="off" autocomplete="off">
		</li>
	</ul>
	<div class="ui-form-actions">
		<button type="submit" class="ui-btn ui-btn-block">登录</button>
	</div>
</form>
<!-- @@close -->