<!-- @@master = ../master.html {"title": "全部订单"} -->

<!-- @@block body -->
<div class="ui-panel ui-panel-sm">
	<div class="ui-panel-header">
		03月21日&nbsp;<span class="text-muted">12:15</span>
		<span class="pull-right text-success">待配送</span>
	</div>
	<div class="ui-panel-body">
		<div class="text-center">
			<span class="pull-left">娃哈哈</span>
			<span>x1</span>
			<span class="pull-right">¥23</span>
		</div>
		<p class="ui-mb-0">立水桥奥北北区1号楼2单元617</p>
	</div>
</div>
<div class="ui-panel ui-panel-sm ui-panel-muted ui-mt-10">
	<div class="ui-panel-header">
		03月21日&nbsp;<span class="text-muted">12:15</span>
		<span class="pull-right">已取消</span>
	</div>
	<div class="ui-panel-body">
		<div class="text-center">
			<span class="pull-left">娃哈哈</span>
			<span>x1</span>
			<span class="pull-right">¥23</span>
		</div>
		<p class="ui-mb-0">立水桥奥北北区1号楼2单元617</p>
	</div>
</div>
<div class="ui-panel ui-panel-sm ui-mt-10">
	<div class="ui-panel-header">
		03月21日&nbsp;<span class="text-muted">12:15</span>
		<span class="pull-right text-muted">已完成</span>
	</div>
	<div class="ui-panel-body">
		<div class="text-center">
			<span class="pull-left">娃哈哈</span>
			<span>x1</span>
			<span class="pull-right">¥23</span>
		</div>
		<p class="ui-mb-0">立水桥奥北北区1号楼2单元617</p>
	</div>
</div>
<!-- @@close -->