<!-- @@master = ../master.html {"title": "订单详情"} -->

<!-- @@block body -->
<div class="ui-line-behind-title">
	<span>明细</span>
</div>
<div class="ui-panel ui-panel-sm">
	<div class="ui-panel-header">
		03月21日&nbsp;<span class="text-muted">12:15</span>
		<span class="pull-right text-success">待配送</span>
	</div>
	<div class="ui-panel-body">
		<div class="text-center">
			<span class="pull-left">娃哈哈</span>
			<span>x1</span>
			<span class="pull-right">¥23</span>
		</div>
		<p class="ui-mb-0">立水桥奥北北区1号楼2单元617</p>
	</div>
</div>
<div class="ui-line-behind-title ui-mt-20">
	<span>操作</span>
</div>
<div class="ui-list-group ui-list-actions text-center">
	<a href="" class="ui-list-group-item">补交水桶押金&nbsp;(¥50)</a>
	<a href="" class="ui-list-group-item">取消订单</a>
	<a href="" class="ui-list-group-item">联系水站</a>
</div>
<a href="" class="ui-btn ui-btn-block ui-btn-inverse ui-mt-10">返回首页</a>
<!-- @@close -->