<!-- @@master = ../master.html {"title": "水桶押金"} -->

<!-- @@block body -->
<p class="text-center text-note">如果您遇到任何问题，欢迎使用 微信回复</p>
<div class="ui-panel">
	<div class="ui-panel-body">
		<div class="ui-bucket-deposit">
			<span class="ui-bucket-deposit-price">¥ 50</span>
			<div class="ui-bucket-deposit-meta">
				<span>水桶押金</span>
				<div class="ui-bucket-deposit-time">2015年5月15日</div>
			</div>
			<div class="ui-bucket-deposit-action">
				<a href="" class="ui-btn ui-btn-sm">退押金</a>
			</div>
		</div>
	</div>
</div>
<div class="ui-panel ui-mt-10">
	<div class="ui-panel-body">
		<div class="ui-bucket-deposit">
			<span class="ui-bucket-deposit-price">¥ 50</span>
			<div class="ui-bucket-deposit-meta">
				<span>水桶押金</span>
				<div class="ui-bucket-deposit-time">2015年5月15日</div>
			</div>
			<div class="ui-bucket-deposit-action ui-with-status">
				<a href="" class="ui-btn ui-btn-sm">联系水站</a>
				<div class="ui-bucket-deposit-status">处理中</div>
			</div>
		</div>
	</div>
</div>
<div class="ui-panel ui-panel-muted ui-mt-10">
	<div class="ui-panel-body">
		<div class="ui-bucket-deposit">
			<span class="ui-bucket-deposit-price">¥ 50</span>
			<div class="ui-bucket-deposit-meta">
				<span>水桶押金</span>
				<div class="ui-bucket-deposit-time">2015年5月15日</div>
			</div>
			<div class="ui-bucket-deposit-action">
				<a class="ui-btn ui-btn-sm" disabled>押金已退</a>
			</div>
		</div>
	</div>
</div>
<div class="ui-panel ui-panel-muted ui-mt-10">
	<div class="ui-panel-body">
		<div class="ui-bucket-deposit">
			<span class="ui-bucket-deposit-price">¥ 50</span>
			<div class="ui-bucket-deposit-meta">
				<span>水桶押金</span>
				<div class="ui-bucket-deposit-time">2015年5月15日</div>
			</div>
			<div class="ui-bucket-deposit-action">
				<a class="ui-btn ui-btn-sm" disabled>押金作废</a>
			</div>
		</div>
	</div>
	<div class="ui-panel-footer text-sm">原因：水桶损坏/遗失</div>
</div>
<!-- @@close -->