<!-- @@master = ../master.html {"title": "个人中心"} -->

<!-- @@block body -->
<div class="ui-panel">
	<div class="ui-panel-body">186****4001</div>
</div>
<div class="ui-list-group ui-list-actions ui-mt-10">
	<a href="" class="ui-list-group-item">
		全部订单<i class="pull-right ui-icon ui-icon-chevron-right"></i>
	</a>
	<a href="" class="ui-list-group-item">
		水桶押金<i class="pull-right ui-icon ui-icon-chevron-right"></i>
	</a>
</div>
<a href="" class="ui-btn ui-btn-block ui-btn-transparent ui-mt-10">退出登录</a>
<img src="/ui/img/slogan.png" alt="slogan" class="ui-img-slogan">
<!-- @@close -->