{{#items}}
@{{name}}: {{px.offset_x}}, {{px.offset_y}}, {{px.width}}, {{px.height}}, {{px.total_width}};
{{/items}}

.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite(@sprite) {
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

// 按比例缩小icon
.sprite-ratio(@sprite, @ratio) {
  @targetWidth: extract(@sprite, 3) / @ratio;
  @targetHeight: extract(@sprite, 4) / @ratio;
  @bgSizeWidth: extract(@sprite, 5) / @ratio;
  @posX: extract(@sprite, 1) / @ratio;
  @posY: extract(@sprite, 2) / @ratio;

  width: ceil(@targetWidth);
  height: ceil(@targetHeight);
  background-position: ceil(@posX) floor(@posY);
  background-size: ceil(@bgSizeWidth) auto;
}

{{#sprite}}
{{class}} {
  display: inline-block;
  vertical-align: middle;
  background-image: url('{{{escaped_image}}}');
  background-repeat: no-repeat;
  overflow: hidden;
  {{#retina}}
  @media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    background-image: url('{{{escaped_image}}}');
    background-size: {{px.total_width}} {{px.total_height}};
  }
  {{/retina}}
}

{{/sprite}}