@icon-chevron-right: -4px, -4px, 14px, 20px, 40px;
@icon-location: -4px, -32px, 20px, 20px, 40px;
@icon-map-marker: -4px, -60px, 23px, 31px, 40px;
@icon-chevron-down: -4px, -99px, 32px, 32px, 40px;
@icon-chevron-up: -4px, -139px, 32px, 32px, 40px;
@icon-minus: -4px, -179px, 32px, 32px, 40px;
@icon-plus: -4px, -219px, 32px, 32px, 40px;
@icon-refresh: -4px, -259px, 32px, 32px, 40px;

.sprite-width(@sprite) {
  width: extract(@sprite, 3);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 4);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 1);
  @sprite-offset-y: extract(@sprite, 2);
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite(@sprite) {
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

// 按比例缩小icon
.sprite-ratio(@sprite, @ratio) {
  @targetWidth: extract(@sprite, 3) / @ratio;
  @targetHeight: extract(@sprite, 4) / @ratio;
  @bgSizeWidth: extract(@sprite, 5) / @ratio;
  @posX: extract(@sprite, 1) / @ratio;
  @posY: extract(@sprite, 2) / @ratio;

  width: ceil(@targetWidth);
  height: ceil(@targetHeight);
  background-position: ceil(@posX) floor(@posY);
  background-size: ceil(@bgSizeWidth) auto;
}

.ui-icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  overflow: hidden;
}

