<!-- @@master = ../master.html {"title": "Brand Select"} -->

<!-- @@block body -->
<p class="text-center ui-mt-0">
	您附近有 <span class="text-xl text-danger">1</span> 个水站
</p>
<ul class="ui-list-group">
	<li>
		<i class="ui-icon ui-icon-map-marker"></i>&nbsp;<strong>奥北北区</strong>
		<a href="" class="pull-right">
			<i class="ui-icon ui-icon-refresh"></i>	
		</a>
	</li>
	<li>
		<div class="ui-input-group clearfix">
			<label class="text-muted">地址</label>
			<input type="text" class="ui-form-ctrl" value="立水桥奥北北区一号楼2单元618">
		</div>
	</li>
</ul>
<div class="ui-list-group ui-mt-10">
	<a href="" class="ui-list-group-item">
		<span class="text-muted">品牌</span>
		<div class="pull-right">
			娃哈哈&nbsp;&nbsp;<i class="ui-icon ui-icon-chevron-right"></i>
		</div>
	</a>
	<div class="ui-list-group-item">
		<span class="text-muted">数量</span>
		<div class="pull-right ui-num-select">
			<a href="">
				<i class="ui-icon ui-icon-minus"></i>
			</a>
			<span class="ui-num-inner">1</span>
			<a href="">
				<i class="ui-icon ui-icon-plus"></i>
			</a>
		</div>
	</div>
	<a href="" class="ui-list-group-item">
		<span class="text-muted">时间</span>
		<div class="pull-right">
			明天 10:00&nbsp;&nbsp;<i class="ui-icon ui-icon-chevron-right"></i>
		</div>
	</a>
</div>
<br />
<div class="text-center">
	<div class="ui-slide-switcher">
		<span class="ui-slide-switcher-checked">微信支付</span>
		<div class="ui-slide-switcher-inner text-left">
			<span class="ui-slide-switcher-toggle ui-toggle-left"></span>
		</div>
		<span>纸质水票</span>
	</div>
	<div class="ui-mv-10">
		共计：<span class="ui-va-m text-xl text-danger">¥ 73</span>
		<br />
		<a class="text-muted text-sm">
			水桶押金 ¥50，此押金随时可退&nbsp;&nbsp;<i class="ui-icon ui-icon-chevron-right" style="margin-top:-2px;"></i>
		</a>
	</div>
</div>
<a href="" class="ui-btn ui-btn-block">立即叫水</a>
<div class="ui-modal-select">
	<div class="ui-modal-dialog">
		<div class="ui-modal-header">
			<a href="" class="pull-left">取消</a>
			<span id="delta">选择品牌</span>
			<a href="" class="pull-right">确定</a>
		</div>
		<div class="ui-modal-body">
			<ul id="scroll">
				<li>
					农夫山泉
					<span class="pull-right">¥ 15</span>
				</li>
				<li>
					怡宝矿泉水
					<span class="pull-right">¥ 12</span>
				</li>
				<li>
					娃哈哈纯净水
					<span class="pull-right">¥ 20</span>
				</li>
				<li>
					乐百氏矿泉水
					<span class="pull-right">¥ 10</span>
				</li>
				<li>
					农夫山泉
					<span class="pull-right">¥ 15</span>
				</li>
				<li>
					怡宝矿泉水
					<span class="pull-right">¥ 12</span>
				</li>
				<li>
					娃哈哈纯净水
					<span class="pull-right">¥ 20</span>
				</li>
				<li>
					乐百氏矿泉水
					<span class="pull-right">¥ 10</span>
				</li>
			</ul>
			<div class="ui-select-active">
				娃哈哈纯净水
				<span class="pull-right">¥ 20</span>
			</div>
		</div>
	</div>
</div>
<script>
	(function() {
		var d = document.querySelector('#scroll');

		// document.querySelector('.ui-modal-select').addEventListener('touchmove', function(e) {
		// 	e.preventDefault();
		// })

		d.addEventListener('touchmove', function(e) {
			//var $this = $(this);
	  //   var scroller = $scroller.get(0);

	    if (this.scrollTop === 0) this.scrollTop = 1;
	    var scrollTop = this.scrollTop;
	    var scrollHeight = this.scrollHeight;
	    var offsetHeight = this.offsetHeight;
	    var contentHeight = scrollHeight - offsetHeight;

	    if (contentHeight == scrollTop) this.scrollTop = scrollTop - 1;
		});
	})()
</script>
<!-- @@close -->