<!-- @@master = ../master.html {"title": "Buttons"} -->

<!-- @@block body -->
<h1>Buttons</h1>
<ul class="list-group">
	<li class="list-group-item">
		<a href="" class="ui-btn ui-btn-block">登录</a>
		ui-btn ui-btn-block
	</li>
	<li class="list-group-item">
		<a class="ui-btn ui-btn-block" disabled>取消</a>
		ui-btn ui-btn-block [disabled]
	</li>
	<li class="list-group-item">
		<a href="" class="ui-btn ui-btn-block ui-btn-transparent">退出登录</a>
		ui-btn ui-btn-block ui-btn-transparent
	</li>
	<li class="list-group-item">
		<a href="" class="ui-btn ui-btn-sm">退押金</a>
		ui-btn-sm
	</li>
	<li class="list-group-item">
		<a href="" class="ui-btn ui-btn-sm" disabled>押金已退</a>
		ui-btn-sm [disabled]
	</li>
	<li class="list-group-item">
		<a href="" class="ui-btn ui-btn-xs">
			<span>获取验证码</span>
		</a>
		ui-btn-xs
	</li>
	<li class="list-group-item">
		<a href="" class="ui-btn ui-btn-xs" disabled>
			<span>60秒后重新获取</span>
		</a>
		ui-btn-xs [disabled]
	</li>
</ul>
<!-- @@close -->