.ui-btn {
	-webkit-appearance: none;
	display: inline-block;
	height: 44px;
	color: #fff !important;
	line-height: 44px;
	text-align: center;
	text-decoration: none !important;
	background-color: @btn-bg-color;
	border: none;
	border-radius: @border-radius;
	cursor: pointer;

	&[disabled] {
		background-color: #afafaf;
		cursor: not-allowed;
	}

	&.ui-btn-transparent,
	&.ui-btn-inverse {
		color: @text-color !important;
		border: 1px solid #dcdcdc;
	}

	&.ui-btn-transparent {
		background-color: transparent;
	}

	&.ui-btn-inverse {
		background-color: #fff;
	}

	&.ui-btn-block {
		width: 100%;
	}

	&.ui-btn-sm,
	&.ui-btn-xs {
		display: inline-block;
		font-size: 13px;
	}

	&.ui-btn-sm {
		padding: 0 12px;
		width: 76px;
		height: 27px;
		line-height: 27px;
		border-radius: 2px;
	}

	&.ui-btn-xs {
		padding: 0 5px;
		height: 25px;
		line-height: 25px;

		// for the 11px font-size
		> span {
			display: block;
			.fs-lt-12(11);
		}
	}
}