.ui-bucket-deposit {
	position: relative;
	white-space: nowrap;

	> .ui-bucket-deposit-price,
	> .ui-bucket-deposit-meta,
	> .ui-bucket-deposit-action {
		display: inline-block;
		vertical-align: middle;
	}

	> .ui-bucket-deposit-price {
		margin-top: 2px;
		font-size: 23px;
	}

	> .ui-bucket-deposit-meta {
		margin-left: 15px;

		> .ui-bucket-deposit-time {
			color: @text-muted;
			font-size: 13px;
		}
	}

	> .ui-bucket-deposit-action {
		float: right;
		margin-top: 5px;
		text-align: center;

		&.ui-with-status {
			margin-top: 0;
		}

		.ui-bucket-deposit-status {
			color: #b9b9b9;
			font-size: 12px;
		}
	}
}