<!-- @@master = ../master.html {"title": "Date Select"} -->

<!-- @@block body -->
<p class="text-center ui-mt-0">
	您附近有 <span class="text-xl text-danger">1</span> 个水站
</p>
<ul class="ui-list-group">
	<li>
		<i class="ui-icon ui-icon-map-marker"></i>&nbsp;<strong>奥北北区</strong>
		<a href="" class="pull-right">
			<i class="ui-icon ui-icon-refresh"></i>	
		</a>
	</li>
	<li>
		<div class="ui-input-group clearfix">
			<label class="text-muted">地址</label>
			<input type="text" class="ui-form-ctrl" value="立水桥奥北北区一号楼2单元618">
		</div>
	</li>
</ul>
<div class="ui-list-group ui-mt-10">
	<a href="" class="ui-list-group-item">
		<span class="text-muted">品牌</span>
		<div class="pull-right">
			娃哈哈&nbsp;&nbsp;<i class="ui-icon ui-icon-chevron-right"></i>
		</div>
	</a>
	<div class="ui-list-group-item">
		<span class="text-muted">数量</span>
		<div class="pull-right ui-num-select">
			<a href="">
				<i class="ui-icon ui-icon-minus"></i>
			</a>
			<span class="ui-num-inner">1</span>
			<a href="">
				<i class="ui-icon ui-icon-plus"></i>
			</a>
		</div>
	</div>
	<a href="" class="ui-list-group-item">
		<span class="text-muted">时间</span>
		<div class="pull-right">
			明天 10:00&nbsp;&nbsp;<i class="ui-icon ui-icon-chevron-right"></i>
		</div>
	</a>
</div>
<br />
<div class="text-center">
	<div class="ui-slide-switcher">
		<span class="ui-slide-switcher-checked">微信支付</span>
		<div class="ui-slide-switcher-inner text-left">
			<span class="ui-slide-switcher-toggle ui-toggle-left"></span>
		</div>
		<span>纸质水票</span>
	</div>
	<div class="ui-mv-10">
		共计：<span class="ui-va-m text-xl text-danger">¥ 73</span>
		<br />
		<a class="text-muted text-sm">
			水桶押金 ¥50，此押金随时可退&nbsp;&nbsp;<i class="ui-icon ui-icon-chevron-right" style="margin-top:-2px;"></i>
		</a>
	</div>
</div>
<a href="" class="ui-btn ui-btn-block">立即叫水</a>
<div class="ui-modal-overlay"></div>
<div class="ui-modal-select">
	<div class="ui-modal-dialog">
		<div class="ui-modal-header">
			<a href="" class="pull-left">取消</a>
			<span>选择时间</span>
			<a href="" class="pull-right">确定</a>
		</div>
		<div class="ui-modal-body clearfix text-center">
			<ul class="pull-left" style="padding-top: 45px;">
				<li>现在</li>
				<li>今天</li>
				<li>明天</li>
			</ul>
			<ul class="pull-right">
				<li>10分</li>
				<li>20分</li>
				<li>30分</li>
				<li>40分</li>
				<li>50分</li>
				<li>60分</li>
			</ul>
			<ul>
				<li>01点</li>
				<li>02点</li>
				<li>03点</li>
				<li>04点</li>
				<li>05点</li>
				<li>06点</li>
				<li>07点</li>
				<li>08点</li>
				<li>09点</li>
				<li>10点</li>
				<li>11点</li>
				<li>12点</li>
			</ul>
			<div class="ui-select-active">
				<span class="pull-left">现在</span>
				<span>30分</span>
				<span class="pull-right">03点</span>
			</div>
		</div>
	</div>
</div>
<!-- @@close -->