// android 上去掉语音输入按钮
input::-webkit-input-speech-button {
	display: none
}

.ui-form-ctrl {
	-webkit-appearance: none;	
	border: none;
	outline: none;

	&.ui-form-ctrl-block {
		width: 100%;
	}

	&.ui-placeholder-danger::-webkit-input-placeholder {
		color: @text-danger;
	}

	&[type="text"] {
		height: 20px;
	}

	&[disabled] {
		.opacity(.8);
	}
}

.ui-input-group {
	overflow-x: hidden;
	white-space: nowrap;

	> label,
	> input {
		display: inline-block;
		vertical-align: middle;
	}

	> input {
		//width: 90%;
	}
}