<!-- @@master = ../master.html {"title": "Icons"} -->

<!-- @@block body -->
<h1>Icons</h1>
<ul class="list-group">
	<li class="list-group-item">
		<i class="ui-icon ui-icon-chevron-up"></i>
		ui-icon-chevron-up
	</li>
	<li class="list-group-item">
		<i class="ui-icon ui-icon-chevron-right"></i>
		ui-icon-chevron-right
	</li>
	<li class="list-group-item">
		<i class="ui-icon ui-icon-chevron-down"></i>
		ui-icon-chevron-down
	</li>
	<li class="list-group-item">
		<i class="ui-icon ui-icon-refresh"></i>
		ui-icon-refresh
	</li>
	<li class="list-group-item">
		<i class="ui-icon ui-icon-map-marker"></i>
		ui-icon-map-marker
	</li>
	<li class="list-group-item">
		<i class="ui-icon ui-icon-minus"></i>
		ui-icon-minus
	</li>
	<li class="list-group-item">
		<i class="ui-icon ui-icon-plus"></i>
		ui-icon-plus
	</li>
	<li class="list-group-item">
		<i class="ui-icon ui-icon-location"></i>
		ui-icon-location
	</li>
</ul>
<!-- @@close -->