@import 'ui/components/_sprite';

._sprite(@icon) {
	.sprite-ratio(@icon, 2);
}

.ui-icon-chevron-up {
	._sprite(@icon-chevron-up);
}

.ui-icon-chevron-right {
	._sprite(@icon-chevron-right);
}

.ui-icon-chevron-down {
	._sprite(@icon-chevron-down);
}

.ui-icon-refresh {
	._sprite(@icon-refresh);
}

.ui-icon-map-marker {
	._sprite(@icon-map-marker);
}

.ui-icon-minus {
	._sprite(@icon-minus);
	height: 17px;
	background-position-y: -89px;
}

.ui-icon-plus {
	._sprite(@icon-plus);
	height: 17px;
	background-position-y: -109px;
}

.ui-icon-location {
	.sprite-ratio(@icon-location, 1.8);
}