.ui-line-behind-title {
	margin: 0 24px 15px;
	text-align: center;
	overflow-x: hidden;

	&:before,
	&:after {
		position: relative;
		display: inline-block;
		.size(50%, 1px);
		vertical-align: middle;
		background-color: #dcdcdc;
		content: "";
	}

	&:before {
		left: -1em;
		margin-left: -50%;
	}

	&:after {
		left: 1em;
		margin-right: -50%;
	}

	> span {
		color: #a9a9a9;
		font-size: 12px;
	}
}