.ui-list-group {
	padding: 0 @list-group-padding-hr;
	margin: 0;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	list-style: none;

	> li,
	> .ui-list-group-item {
		display: block;
		padding: 13px 0;
		color: @text-color;
		border-bottom: 1px solid #e7e7e7;
		.text-overflow();

		&:last-child {
			border-bottom-color: transparent;
		}

		> .pull-right.ui-icon-chevron-right {
			margin-top: 5px;
		}

		input {
			padding-left: 0;
		}

		&.ui-no-br,
		&.ui-with-icon {
			white-space: nowrap;
		}

		&.ui-with-icon {
			> input {
				padding-right: @list-group-padding-hr;
				width: 99%; // 100% 会遮盖父元素的右 border
			}
		}

		&[disabled] {
			color: @text-muted;
			text-decoration: line-through !important;
		}
	}
}