.ui-modal-base() {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	margin-right: auto;
	margin-left: auto;
	max-width: @page-max-width;
	z-index: @z-index-modal;

	> .ui-modal-dialog {
		position: absolute;
	}

	/* toggle */
	&.in {
		display: initial;
	}
}

.ui-select-item() {
	padding: 0 20px;
	margin: 0 auto;
	.size(100%, 45px);
	max-width: @page-max-width;
	color: #afafaf;
	line-height: 45px;
}

.ui-modal {
	.ui-modal-base();
	background-color: rgba(255,255,255,.8);
	
	> .ui-modal-dialog {
		top: 50%;
		right: 20px;
		left: 20px;
		padding: 20px;
		margin-top: -130px;
		height: 260px;
		background-color: #fff;
		border: 1px solid #dcdcdc;
		border-radius: @border-radius;

		> .ui-modal-content {
			height: 170px;
			overflow-y: auto;
		}

		> .ui-modal-action {
			position: absolute;
			bottom: 20px;
			left: 0;
			right: 0;
			padding: 0 20px;
		}
	}
}

.ui-modal-select {
	.ui-modal-base();
	background-color: rgba(0,0,0,.6);

	> .ui-modal-dialog {
		right: 0;
		bottom: 0;
		left: 0;

		> .ui-modal-header {
			padding: 15px 20px;
			text-align: center;
			background-color: #dcdcdc;

			> a {
				color: @text-color;
			}  

			> span {
				color: #afafaf;
			}
		}

		> .ui-modal-body {
			background-color: #f0f0f0;

			/*
			> .ui-scroll-wrapper {
				height: 225px;
				background: -webkit-linear-gradient(top,#f8f8f8 38%,#fff 38%,#fff 58%,#f8f8f8 58%) #fff;
				overflow: hidden;
			}
			*/

			> .sw-container {
				height: 200px;
				overflow: hidden;	
			}

			> ul {
				padding: 0;
				margin: -5px 0; // -5px 因为 iscroll 首末元素垂直对齐的偏差
				
				list-style: none;

				> li {
					.ui-select-item();
				}
			}

			.ui-select-inner-line {
				position: absolute;
				right: 0;
				left: 0;
				height: 0;
				border-top: 1px solid #dcdcdc;

				&.ui-line-top {
					bottom: 140px;
				}

				&.ui-line-middle {
					bottom: 112px;
					border-top-color: blue;
				}

				&.ui-line-bottom {
					bottom: 93px;
				}
			}
		}
	}
}