<!-- @@master = ../master.html {"title": "Modal"} -->

<!-- @@block body -->
<p class="text-center ui-mt-0">
	您附近有 <span class="text-xl text-danger">1</span> 个水站
</p>
<ul class="ui-list-group">
	<li>
		<i class="ui-icon ui-icon-map-marker"></i>&nbsp;<strong>奥北北区</strong>
		<a href="" class="pull-right">
			<i class="ui-icon ui-icon-refresh"></i>	
		</a>
	</li>
	<li>
		<div class="ui-input-group clearfix">
			<label class="text-muted">地址</label>
			<input type="text" class="ui-form-ctrl" value="立水桥奥北北区一号楼2单元618">
		</div>
	</li>
</ul>
<div class="ui-list-group ui-mt-10">
	<a href="" class="ui-list-group-item">
		<span class="text-muted">品牌</span>
		<div class="pull-right">
			娃哈哈&nbsp;&nbsp;<i class="ui-icon ui-icon-chevron-right"></i>
		</div>
	</a>
	<div class="ui-list-group-item">
		<span class="text-muted">数量</span>
		<div class="pull-right ui-num-select">
			<a href="">
				<i class="ui-icon ui-icon-minus"></i>
			</a>
			<span class="ui-num-inner">1</span>
			<a href="">
				<i class="ui-icon ui-icon-plus"></i>
			</a>
		</div>
	</div>
	<a href="" class="ui-list-group-item">
		<span class="text-muted">时间</span>
		<div class="pull-right">
			明天 10:00&nbsp;&nbsp;<i class="ui-icon ui-icon-chevron-right"></i>
		</div>
	</a>
</div>
<br />
<div class="text-center">
	<div class="ui-slide-switcher">
		<span class="ui-slide-switcher-checked">微信支付</span>
		<div class="ui-slide-switcher-inner text-left">
			<span class="ui-slide-switcher-toggle ui-toggle-left"></span>
		</div>
		<span>纸质水票</span>
	</div>
	<div class="ui-mv-10">
		共计：<span class="ui-va-m text-xl text-danger">¥ 73</span>
		<br />
		<a class="text-muted text-sm">
			水桶押金 ¥50，此押金随时可退&nbsp;&nbsp;<i class="ui-icon ui-icon-chevron-right" style="margin-top:-2px;"></i>
		</a>
	</div>
</div>
<a href="" class="ui-btn ui-btn-block">立即叫水</a>
<div class="ui-modal">
	<div class="ui-modal-dialog">
		<div class="ui-modal-content">
			<h4 class="text-bold text-em ui-mv-0">什么是水桶押金？</h4>
			<p class="text-sm">水桶押金是针对“无空水桶”的用户在下单时收取的押金费用，费用为50元</p>
			<h4 class="text-bold text-em ui-mb-0">如何退水桶押金？</h4>
			<p class="text-sm">请在服务号下点击菜单“我的“ > “水桶押金” 即可申请退款</p>
		</div>
		<div class="ui-modal-action">
			<a href="" class="ui-btn ui-btn-block ui-mt-10">我知道了</a>
		</div>
	</div>
</div>
<!-- @@close -->