.ui-num-select {
	display: inline-block;

	> a {
		.no-tap-color();

		&:first-child {
			padding: 0 15px;
		}

		&:last-child {
			padding-left: 15px;
		}
	}

	> .ui-num-inner {
		display: inline-block;
		vertical-align: middle;
	}
}