<!-- @@master = ../master.html {"title": "Number Select"} -->

<!-- @@block body -->
<h1>Number Select</h1>
<div class="ui-num-select">
	<a href="">
		<i class="ui-icon ui-icon-minus"></i>
	</a>
	<span class="ui-num-inner">1</span>
	<a href="">
		<i class="ui-icon ui-icon-plus"></i>
	</a>
</div>
<!-- @@close -->