.ui-panel {
	padding: 0 15px;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-radius: 5px;

	&.ui-panel-muted {
		background-color: #f1f1f1;
		color: @text-muted !important;
	}

	&.ui-panel-sm {
		> .ui-panel-header {
			padding: 13px 0;
		}
	}

	> .ui-panel-header,
	> .ui-panel-body {
		padding: 15px 0;
	}

	> .ui-panel-header {
		border-bottom: 1px solid #e7e7e7;
	}

	> .ui-panel-footer {
		padding: 10px 0;
		border-top: 1px solid #e7e7e7;
	}
}