<!-- @@master = ../master.html {"title": "Panels"} -->

<!-- @@block body -->
<h1>Panels</h1>
<div class="ui-panel">
	<div class="ui-panel-header">
		03月21日&nbsp;<span class="text-muted">12:15</span>
		<span class="pull-right text-success">待配送</span>
	</div>
	<div class="ui-panel-body">
		<div class="text-center">
			<span class="pull-left">娃哈哈</span>
			<span>x1</span>
			<span class="pull-right">¥23</span>
		</div>
		<p class="ui-mb-0">立水桥奥北北区1号楼2单元617</p>
	</div>
</div>
<br />
<div class="ui-panel">
	<div class="ui-panel-body">186****4001</div>
</div>
<br />
<div class="ui-panel">
	<div class="ui-panel-body">
		<div class="ui-bucket-deposit">
			<span class="ui-bucket-deposit-price">¥ 50</span>
			<div class="ui-bucket-deposit-meta">
				<span>水桶押金</span>
				<div class="ui-bucket-deposit-time">2015年5月15日</div>
			</div>
			<div class="ui-bucket-deposit-action">
				<a href="" class="ui-btn ui-btn-sm">退押金</a>
			</div>
		</div>
	</div>
</div>
<br/>
<div class="ui-panel">
	<div class="ui-panel-body">
		<div class="ui-bucket-deposit">
			<span class="ui-bucket-deposit-price">¥ 50</span>
			<div class="ui-bucket-deposit-meta">
				<span>水桶押金</span>
				<div class="ui-bucket-deposit-time">2015年5月15日</div>
			</div>
			<div class="ui-bucket-deposit-action ui-with-status">
				<a href="" class="ui-btn ui-btn-sm">联系水站</a>
				<div class="ui-bucket-deposit-status">处理中</div>
			</div>
		</div>
	</div>
</div>
<br />
<div class="ui-panel ui-panel-muted">
	<div class="ui-panel-body">
		<div class="ui-bucket-deposit">
			<span class="ui-bucket-deposit-price">¥ 50</span>
			<div class="ui-bucket-deposit-meta">
				<span>水桶押金</span>
				<div class="ui-bucket-deposit-time">2015年5月15日</div>
			</div>
			<div class="ui-bucket-deposit-action">
				<a href="" class="ui-btn ui-btn-sm" disabled>押金作废</a>
			</div>
		</div>
	</div>
	<div class="ui-panel-footer text-sm">原因：水桶损坏/遗失</div>
</div>
<!-- @@close -->