<!-- @@master = ../master.html {"title": "Slide Switcher"} -->

<!-- @@block body -->
<h1>Slide Switcher</h1>
<div class="ui-slide-switcher">
	<a href="javascript:;" class="ui-slide-switcher-checked">微信支付</a>
	<div class="ui-slide-switcher-inner">
		<a href="javascript:;" class="ui-slide-switcher-left"></a>
		<a class="ui-slide-switcher-toggle ui-toggle-right" href="javascript:;"></a>
		<a href="javascript:;" class="ui-slide-switcher-right"></a>
	</div>
	<a href="javascript:;">纸质水票</a>
</div>
<!-- @@close -->