.ui-slide-switcher {
	position: relative;
	height: 20px;
	color: #bcbbbb;
	font-size: 13px;

	> .ui-slide-switcher-checked {
		color: @text-color;
	}

	> a {
		color: inherit;
		vertical-align: middle;
		.no-tap-color();
	}

	> .ui-slide-switcher-inner {
		position: relative;
		display: inline-block;
		margin: 0 10px;
		.size(90px, 4px);
		background-color: #dcdcdc;
		vertical-align: middle;

		.ui-slide-switcher-left,
		.ui-slide-switcher-right {
			position: absolute;
			top: -4px;
			.square(12px);
			border-radius: 50%;
			background-color: #dcdcdc;
			content: "";
			.no-tap-color();
		}

		.ui-slide-switcher-left {
			left: 0;
		}

		.ui-slide-switcher-right {
			right: 0;
		}

		> .ui-slide-switcher-toggle {
			position: absolute;
			top: -8px;
			display: inline-block;
			.square(20px);
			background-color: #fff;
			border: 1px solid #e0e0e0;
			border-radius: 50%;
			cursor: pointer;
			z-index: 1;
			.no-tap-color();

			&:before {
				position: absolute;
				top: 1px;
				right: 1px;
				bottom: 1px;
				left: 1px;
				border: 1px solid #e0e0e0;
				border-radius: 50%;
				content: "";
			}

			&.ui-toggle-left {
				left: 0;
			}

			&.ui-toggle-right {
				right: 0;
			}
		}
	}
}