#sw-wrapper {
	position: absolute; 
	right: 0;
	left: 0;
	margin: 0 auto;
	max-width: @page-max-width;
	z-index:1000;
}

#sw-header {
	position: relative;
	width: 100%;
	height: 50px;
	color: #afafaf;
	line-height: 50px;
	text-align: center; 
	background-color: #dcdcdc;
}

#sw-cancel, #sw-done {
	padding: 0 20px;
	color: @text-color;
}

#sw-cancel {
	float: left;
}

#sw-done {
	float: right;
}

.sw-pressed { opacity:0.4; }

#sw-slots-wrapper {
	position: relative; 
	display: block;
	padding: 0 20px;
	height: 220px;
	background: -webkit-linear-gradient(top,#f8f8f8 40%,#fff 40%,#fff 60%,#f8f8f8 60%) #fff;
	overflow: hidden;
	z-index: 999;
}

#sw-slots {
	display: table;
	width: 100%;
	background: transparent;
}

#sw-slots div {
	display: table-cell;
	padding-top: 88px;
	//height: 100%;
	//border-left: 2px solid #0d0e0f;
	//background-position: 0 0, 100% 0;
	//background-repeat: repeat-y;
}

#sw-slots div:first-child { border:0; }

#sw-slots ul {
	padding: 0 0 88px 0; 
	margin: 0;
	list-style:none;
}

#sw-slots .sw-left { text-align:left; }
#sw-slots .sw-center { text-align:center; }
#sw-slots .sw-right { text-align:right; }
#sw-slots .sw-shrink { width:1%; }
#sw-slots .sw-readonly { background: #ddd; }
#sw-slots .sw-33percent { width: 33.333333% }

#sw-slots li {
	height: 44px;
	color: #afafaf;
	line-height: 44px;
	overflow: hidden;
}

#sw-slots li.sw-active {
	color: @text-color;
}


#sw-frame {
	position: absolute; 
	left: 0; 
	right: 0; 
	bottom: 0;
	height: 220px;
	border-width: 16px;
	z-index: 1000;
}

#sw-line-top,
#sw-line-bottom {
	position: absolute;
	right: 0;
	left: 0;
	height: 0;
	border-top: 1px solid #dcdcdc;
	z-index: 1000;
}

#sw-line-top {
	bottom: 132px;
}

#sw-line-bottom {
	bottom: 86px;
}