body {
	font-family: @font-family-base;
	font-size: @font-size-base;
	font-weight: @font-weight-base;
	background-color: @bg-color;
	-webkit-text-size-adjust: 100%!important; // [ios] 禁止微信浏览器，用户调整字体大小后页面矬了
}

a,
button {
	-webkit-tap-highlight-color: rgba(0,0,0,.1);
	text-decoration: none !important;	

	&[disabled] {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
}