.text-default {
	color: @text-color;
}

.text-muted {
	color: @text-muted !important;
}

.text-primary {
	color: @text-primary !important;
}

.text-success {
	color: @text-success;
}

.text-danger {
	color: @text-danger;
}

.text-em {
	color: #000;
}

.text-sm {
	font-size: 13px;
}

.text-xl {
	font-size: 20px;
}

.text-bold {
	font-weight: bold;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}