/**
 * margins
 */

.ui-mt-0 {
	margin-top: 0;
}

.ui-mt-10 {
	margin-top: 10px !important;
}

.ui-mt-20 {
	margin-top: 20px !important;
}

.ui-mb-0 {
	margin-bottom: 0;
}

.ui-mv-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.ui-mv-10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.ui-mv-20 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

/**
 * vertical align
 */

.ui-va-m {
	vertical-align: middle;
}

/**
 * positions
 */

.ui-pos-re {
	position: relative;
}

.ui-pos-ab {
	position: absolute;

	&.-left {
		left: 0;
	}

	&.-right {
		right: 0;
	}
}

.ui-affix {
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto !important;
	max-width: @page-max-width;
	z-index: @z-index-affix;
}

/**
 * displays
*/
.ui-db {
	display: block;
}

/**
 * others
*/

// 开启 GPU 加速 可解决 1、css 动画闪烁 2、input元素focus无效的bug 副作用：增加内存消耗，缩减手机电池寿命
.ui-gpu {
	.translate3d(0,0,0);
}

// 禁止选中字体
.ui-un {
	user-select: none;
}