// basic
@bg-color: #f0f0f0;
@font-size-base: 14px;
@font-family-base: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; // 使用无衬线字体
@font-weight-base: normal;
@page-max-width: 640px;
@page-padding-hr: 20px;

// colors
@btn-bg-color: #1cacff;

// text
@text-color: #6b6b6b;
@text-muted: #a9a9a9;
@text-danger: #f54b00;
@text-success: #41b07b;
@text-note: #8d8d8d;
@text-primary: @btn-bg-color;

// visual
@border-radius: 3px;

// zindex
@z-index-affix: 9;
@z-index-modal: 10;
@z-index-modal-select-active: 11;
@z-index-modal-select-panel: 12;

// padding
@list-group-padding-hr: 15px;