/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #6b6b6b;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
/**
 * 获取小于 12px 的字体
 */
/**
 * 关闭 tap color
*/
.no-tap-color {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 14px;
  font-weight: normal;
  background-color: #f0f0f0;
  -webkit-text-size-adjust: 100%!important;
}
a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  text-decoration: none !important;
}
a[disabled],
button[disabled] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.text-default {
  color: #6b6b6b;
}
.text-muted {
  color: #a9a9a9 !important;
}
.text-primary {
  color: #1cacff !important;
}
.text-success {
  color: #41b07b;
}
.text-danger {
  color: #f54b00;
}
.text-em {
  color: #000;
}
.text-sm {
  font-size: 13px;
}
.text-xl {
  font-size: 20px;
}
.text-bold {
  font-weight: bold;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px;
  max-width: 640px;
}
/**
 * margins
 */
.ui-mt-0 {
  margin-top: 0;
}
.ui-mt-10 {
  margin-top: 10px !important;
}
.ui-mt-20 {
  margin-top: 20px !important;
}
.ui-mb-0 {
  margin-bottom: 0;
}
.ui-mv-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.ui-mv-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.ui-mv-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
/**
 * vertical align
 */
.ui-va-m {
  vertical-align: middle;
}
/**
 * positions
 */
.ui-pos-re {
  position: relative;
}
.ui-pos-ab {
  position: absolute;
}
.ui-pos-ab.-left {
  left: 0;
}
.ui-pos-ab.-right {
  right: 0;
}
.ui-affix {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto !important;
  max-width: 640px;
  z-index: 9;
}
/**
 * displays
*/
.ui-db {
  display: block;
}
/**
 * others
*/
.ui-gpu {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.ui-un {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ui-btn {
  -webkit-appearance: none;
  display: inline-block;
  height: 44px;
  color: #fff !important;
  line-height: 44px;
  text-align: center;
  text-decoration: none !important;
  background-color: #1cacff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.ui-btn[disabled] {
  background-color: #afafaf;
  cursor: not-allowed;
}
.ui-btn.ui-btn-transparent,
.ui-btn.ui-btn-inverse {
  color: #6b6b6b !important;
  border: 1px solid #dcdcdc;
}
.ui-btn.ui-btn-transparent {
  background-color: transparent;
}
.ui-btn.ui-btn-inverse {
  background-color: #fff;
}
.ui-btn.ui-btn-block {
  width: 100%;
}
.ui-btn.ui-btn-sm,
.ui-btn.ui-btn-xs {
  display: inline-block;
  font-size: 13px;
}
.ui-btn.ui-btn-sm {
  padding: 0 12px;
  width: 76px;
  height: 27px;
  line-height: 27px;
  border-radius: 2px;
}
.ui-btn.ui-btn-xs {
  padding: 0 5px;
  height: 25px;
  line-height: 25px;
}
.ui-btn.ui-btn-xs > span {
  display: block;
  font-size: 12px;
  -webkit-transform: scale(0.91666667);
  -ms-transform: scale(0.91666667);
  transform: scale(0.91666667);
}
.ui-bucket-deposit {
  position: relative;
  white-space: nowrap;
}
.ui-bucket-deposit > .ui-bucket-deposit-price,
.ui-bucket-deposit > .ui-bucket-deposit-meta,
.ui-bucket-deposit > .ui-bucket-deposit-action {
  display: inline-block;
  vertical-align: middle;
}
.ui-bucket-deposit > .ui-bucket-deposit-price {
  margin-top: 2px;
  font-size: 23px;
}
.ui-bucket-deposit > .ui-bucket-deposit-meta {
  margin-left: 15px;
}
.ui-bucket-deposit > .ui-bucket-deposit-meta > .ui-bucket-deposit-time {
  color: #a9a9a9;
  font-size: 13px;
}
.ui-bucket-deposit > .ui-bucket-deposit-action {
  float: right;
  margin-top: 5px;
  text-align: center;
}
.ui-bucket-deposit > .ui-bucket-deposit-action.ui-with-status {
  margin-top: 0;
}
.ui-bucket-deposit > .ui-bucket-deposit-action .ui-bucket-deposit-status {
  color: #b9b9b9;
  font-size: 12px;
}
input::-webkit-input-speech-button {
  display: none;
}
.ui-form-ctrl {
  -webkit-appearance: none;
  border: none;
  outline: none;
}
.ui-form-ctrl.ui-form-ctrl-block {
  width: 100%;
}
.ui-form-ctrl.ui-placeholder-danger::-webkit-input-placeholder {
  color: #f54b00;
}
.ui-form-ctrl[type="text"] {
  height: 20px;
}
.ui-form-ctrl[disabled] {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.ui-input-group {
  overflow-x: hidden;
  white-space: nowrap;
}
.ui-input-group > label,
.ui-input-group > input {
  display: inline-block;
  vertical-align: middle;
}
.ui-form > .ui-form-actions {
  margin-top: 20px;
}
.ui-icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  overflow: hidden;
}
.ui-icon-chevron-up {
  width: 16px;
  height: 16px;
  background-position: -2px -70px;
  background-size: 20px auto;
}
.ui-icon-chevron-right {
  width: 7px;
  height: 10px;
  background-position: -2px -2px;
  background-size: 20px auto;
}
.ui-icon-chevron-down {
  width: 16px;
  height: 16px;
  background-position: -2px -50px;
  background-size: 20px auto;
}
.ui-icon-refresh {
  width: 16px;
  height: 16px;
  background-position: -2px -130px;
  background-size: 20px auto;
}
.ui-icon-map-marker {
  width: 12px;
  height: 16px;
  background-position: -2px -30px;
  background-size: 20px auto;
}
.ui-icon-minus {
  width: 16px;
  height: 16px;
  background-position: -2px -90px;
  background-size: 20px auto;
  height: 17px;
  background-position-y: -89px;
}
.ui-icon-plus {
  width: 16px;
  height: 16px;
  background-position: -2px -110px;
  background-size: 20px auto;
  height: 17px;
  background-position-y: -109px;
}
.ui-icon-location {
  width: 12px;
  height: 12px;
  background-position: -2px -18px;
  background-size: 23px auto;
}
.ui-img-slogan {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 134px;
}
.ui-line-behind-title {
  margin: 0 24px 15px;
  text-align: center;
  overflow-x: hidden;
}
.ui-line-behind-title:before,
.ui-line-behind-title:after {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background-color: #dcdcdc;
  content: "";
}
.ui-line-behind-title:before {
  left: -1em;
  margin-left: -50%;
}
.ui-line-behind-title:after {
  left: 1em;
  margin-right: -50%;
}
.ui-line-behind-title > span {
  color: #a9a9a9;
  font-size: 12px;
}
.ui-list-group {
  padding: 0 15px;
  margin: 0;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  list-style: none;
}
.ui-list-group > li,
.ui-list-group > .ui-list-group-item {
  display: block;
  padding: 13px 0;
  color: #6b6b6b;
  border-bottom: 1px solid #e7e7e7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ui-list-group > li:last-child,
.ui-list-group > .ui-list-group-item:last-child {
  border-bottom-color: transparent;
}
.ui-list-group > li > .pull-right.ui-icon-chevron-right,
.ui-list-group > .ui-list-group-item > .pull-right.ui-icon-chevron-right {
  margin-top: 5px;
}
.ui-list-group > li input,
.ui-list-group > .ui-list-group-item input {
  padding-left: 0;
}
.ui-list-group > li.ui-no-br,
.ui-list-group > .ui-list-group-item.ui-no-br,
.ui-list-group > li.ui-with-icon,
.ui-list-group > .ui-list-group-item.ui-with-icon {
  white-space: nowrap;
}
.ui-list-group > li.ui-with-icon > input,
.ui-list-group > .ui-list-group-item.ui-with-icon > input {
  padding-right: 15px;
  width: 99%;
}
.ui-list-group > li[disabled],
.ui-list-group > .ui-list-group-item[disabled] {
  color: #a9a9a9;
  text-decoration: line-through !important;
}
.ui-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  margin-right: auto;
  margin-left: auto;
  max-width: 640px;
  z-index: 10;
  /* toggle */
  background-color: rgba(255, 255, 255, 0.8);
}
.ui-modal > .ui-modal-dialog {
  position: absolute;
}
.ui-modal.in {
  display: initial;
}
.ui-modal > .ui-modal-dialog {
  top: 50%;
  right: 20px;
  left: 20px;
  padding: 20px;
  margin-top: -130px;
  height: 260px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
}
.ui-modal > .ui-modal-dialog > .ui-modal-content {
  height: 170px;
  overflow-y: auto;
}
.ui-modal > .ui-modal-dialog > .ui-modal-action {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 0 20px;
}
.ui-modal-select {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  margin-right: auto;
  margin-left: auto;
  max-width: 640px;
  z-index: 10;
  /* toggle */
  background-color: rgba(0, 0, 0, 0.6);
}
.ui-modal-select > .ui-modal-dialog {
  position: absolute;
}
.ui-modal-select.in {
  display: initial;
}
.ui-modal-select > .ui-modal-dialog {
  right: 0;
  bottom: 0;
  left: 0;
}
.ui-modal-select > .ui-modal-dialog > .ui-modal-header {
  padding: 15px 20px;
  text-align: center;
  background-color: #dcdcdc;
}
.ui-modal-select > .ui-modal-dialog > .ui-modal-header > a {
  color: #6b6b6b;
}
.ui-modal-select > .ui-modal-dialog > .ui-modal-header > span {
  color: #afafaf;
}
.ui-modal-select > .ui-modal-dialog > .ui-modal-body {
  background-color: #f0f0f0;
  /*
			> .ui-scroll-wrapper {
				height: 225px;
				background: -webkit-linear-gradient(top,#f8f8f8 38%,#fff 38%,#fff 58%,#f8f8f8 58%) #fff;
				overflow: hidden;
			}
			*/
}
.ui-modal-select > .ui-modal-dialog > .ui-modal-body > .sw-container {
  height: 200px;
  overflow: hidden;
}
.ui-modal-select > .ui-modal-dialog > .ui-modal-body > ul {
  padding: 0;
  margin: -5px 0;
  list-style: none;
}
.ui-modal-select > .ui-modal-dialog > .ui-modal-body > ul > li {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  height: 45px;
  max-width: 640px;
  color: #afafaf;
  line-height: 45px;
}
.ui-modal-select > .ui-modal-dialog > .ui-modal-body .ui-select-inner-line {
  position: absolute;
  right: 0;
  left: 0;
  height: 0;
  border-top: 1px solid #dcdcdc;
}
.ui-modal-select > .ui-modal-dialog > .ui-modal-body .ui-select-inner-line.ui-line-top {
  bottom: 140px;
}
.ui-modal-select > .ui-modal-dialog > .ui-modal-body .ui-select-inner-line.ui-line-middle {
  bottom: 112px;
  border-top-color: blue;
}
.ui-modal-select > .ui-modal-dialog > .ui-modal-body .ui-select-inner-line.ui-line-bottom {
  bottom: 93px;
}
.ui-num-select {
  display: inline-block;
}
.ui-num-select > a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
.ui-num-select > a:first-child {
  padding: 0 15px;
}
.ui-num-select > a:last-child {
  padding-left: 15px;
}
.ui-num-select > .ui-num-inner {
  display: inline-block;
  vertical-align: middle;
}
.ui-panel {
  padding: 0 15px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
}
.ui-panel.ui-panel-muted {
  background-color: #f1f1f1;
  color: #a9a9a9 !important;
}
.ui-panel.ui-panel-sm > .ui-panel-header {
  padding: 13px 0;
}
.ui-panel > .ui-panel-header,
.ui-panel > .ui-panel-body {
  padding: 15px 0;
}
.ui-panel > .ui-panel-header {
  border-bottom: 1px solid #e7e7e7;
}
.ui-panel > .ui-panel-footer {
  padding: 10px 0;
  border-top: 1px solid #e7e7e7;
}
.ui-slide-switcher {
  position: relative;
  height: 20px;
  color: #bcbbbb;
  font-size: 13px;
}
.ui-slide-switcher > .ui-slide-switcher-checked {
  color: #6b6b6b;
}
.ui-slide-switcher > a {
  color: inherit;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
.ui-slide-switcher > .ui-slide-switcher-inner {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  width: 90px;
  height: 4px;
  background-color: #dcdcdc;
  vertical-align: middle;
}
.ui-slide-switcher > .ui-slide-switcher-inner .ui-slide-switcher-left,
.ui-slide-switcher > .ui-slide-switcher-inner .ui-slide-switcher-right {
  position: absolute;
  top: -4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #dcdcdc;
  content: "";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
.ui-slide-switcher > .ui-slide-switcher-inner .ui-slide-switcher-left {
  left: 0;
}
.ui-slide-switcher > .ui-slide-switcher-inner .ui-slide-switcher-right {
  right: 0;
}
.ui-slide-switcher > .ui-slide-switcher-inner > .ui-slide-switcher-toggle {
  position: absolute;
  top: -8px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
.ui-slide-switcher > .ui-slide-switcher-inner > .ui-slide-switcher-toggle:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  content: "";
}
.ui-slide-switcher > .ui-slide-switcher-inner > .ui-slide-switcher-toggle.ui-toggle-left {
  left: 0;
}
.ui-slide-switcher > .ui-slide-switcher-inner > .ui-slide-switcher-toggle.ui-toggle-right {
  right: 0;
}
#sw-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  max-width: 640px;
  z-index: 1000;
}
#sw-header {
  position: relative;
  width: 100%;
  height: 50px;
  color: #afafaf;
  line-height: 50px;
  text-align: center;
  background-color: #dcdcdc;
}
#sw-cancel,
#sw-done {
  padding: 0 20px;
  color: #6b6b6b;
}
#sw-cancel {
  float: left;
}
#sw-done {
  float: right;
}
.sw-pressed {
  opacity: 0.4;
}
#sw-slots-wrapper {
  position: relative;
  display: block;
  padding: 0 20px;
  height: 220px;
  background: -webkit-linear-gradient(top, #f8f8f8 40%, #ffffff 40%, #ffffff 60%, #f8f8f8 60%) #ffffff;
  overflow: hidden;
  z-index: 999;
}
#sw-slots {
  display: table;
  width: 100%;
  background: transparent;
}
#sw-slots div {
  display: table-cell;
  padding-top: 88px;
}
#sw-slots div:first-child {
  border: 0;
}
#sw-slots ul {
  padding: 0 0 88px 0;
  margin: 0;
  list-style: none;
}
#sw-slots .sw-left {
  text-align: left;
}
#sw-slots .sw-center {
  text-align: center;
}
#sw-slots .sw-right {
  text-align: right;
}
#sw-slots .sw-shrink {
  width: 1%;
}
#sw-slots .sw-readonly {
  background: #ddd;
}
#sw-slots .sw-33percent {
  width: 33.333333%;
}
#sw-slots li {
  height: 44px;
  color: #afafaf;
  line-height: 44px;
  overflow: hidden;
}
#sw-slots li.sw-active {
  color: #6b6b6b;
}
#sw-frame {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 220px;
  border-width: 16px;
  z-index: 1000;
}
#sw-line-top,
#sw-line-bottom {
  position: absolute;
  right: 0;
  left: 0;
  height: 0;
  border-top: 1px solid #dcdcdc;
  z-index: 1000;
}
#sw-line-top {
  bottom: 132px;
}
#sw-line-bottom {
  bottom: 86px;
}
